
<section class="content-header">
  <h1>Office Balance Sheet</h1>
</section>
<section class="content"> 
  <div class="row">
  	<div class="col-md-6 col-md-offset-3">
		  <div class="box box-sucess">
		    <form role="form">
		      <div class="box-body">
		        <div class="form-group">
		          <label for="year">Year</label>
		          <input type="text" class="form-control" id="year">
		        </div>
		        <div class="form-group">
		          <label for="month">Month</label>
		          <input type="text" class="form-control" id="month">
		        </div>
		         <div class="form-group">
		          <label for="office_income">Office Income</label>
		          <input type="text" class="form-control" id="office_income">
		        </div>
            

		        <div class="form-group">
		          <label for="office_expense">Office Expense</label>
		          <input type="text" class="form-control" id="office_expense">
		        </div>

		        <div class="form-group">
		          <label for="money_spent">Money Spent</label>
		          <input type="text" class="form-control" id="money_spent">
		        </div>
		    </form>
		  </div>
  	</div>
  </div>
</section>