<section class="content-header">
  <h1>Office Expense</h1>
</section>
<section class="content"> 
  <div class="row">
  	<div class="col-md-6 col-md-offset-3">
		  <div class="box box-sucess">
		    <form role="form">
		      <div class="box-body">
		        <div class="form-group">
		          <label for="spent_year">Spent Year</label>
		          <input type="text" class="form-control" id="spent_year">
		        </div>
		        <div class="form-group">
		          <label for="spent_month">Spent Month</label>
		          <input type="text" class="form-control" id="spent_month">
		        </div>
		         <div class="form-group">
		          <label for="spent_date">Spent Date</label>
		          <input type="text" class="form-control" id="spent_date">
		        </div>
            <div class="form-group">
		          <label for="spent_date">Description</label>
		          <textarea class="form-control"></textarea>
		        </div>

		        <div class="form-group">
		          <label for="transaction_via_id">Transaction Via Id</label>
		          <input type="text" class="form-control" id="transaction_via_id">
		        </div>

		        <div class="form-group">
		          <label for="money_spent">Money Spent</label>
		          <input type="text" class="form-control" id="money_spent">
		        </div>
		    </form>
		  </div>
  	</div>
  </div>
</section>