 <section class="content">
  <div class="panel">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-4 content-header">
          <h1>Permission Activities</h1><br />
        </div>
        <div class="col-md-4 content-header">
        </div>
        <div class="col-md-3 content-header">
        </div>
      </div>
	    <div class="col-md-12">
	    	<div class="col-md-5">
	    		<div class="row pd-10">
	    			<div class="panel panel-bg">
	    				<div>
	    					<h2 align="center">Apply Permission</h2>
	    					<div class="new-header-border"></div>
	    					<div class="calender-header">
	    						<div class="permission_apply_form">
	    							<%= render partial: "permission_form", locals: {apply_permission: @apply_permission, limit: @limit} %>
	    						</div>
	    					</div>
	    				</div>
	    			</div>
	    		</div>
	    	</div>
	    	<div class="col-md-7">
	    		<div class="row pd-10">
		    		<div class="panel panel-bg">
		    			<div>
		    				<h2 align="center">Permission List</h2>
		    				<div class="new-header-border"></div>
			    			<div class="calender-header">
			    				<div class="permission-lists">
			    					<%= render partial: "permission_list", locals: {permission_list_calendars: @permission_list_calendars, date: @date} %>
			    				</div>
			    			</div>
		    			</div>
		    		</div>
		    	</div>
	    		<div class="row pd-10">
	    			<div class="panel panel-bg">
	    				<div>
	    					<h2 align="center">Recent Activities</h2>
	    					<div class="new-header-border"></div>
	    					<div class="calender-header">
	    						<div class="recent_activities">
	    							<%= render partial: "permission_recent_activities", locals: {recent_activities: get_recent_permission_activities } %>
	    						</div>
	    					</div>
	    				</div>
	    			</div>
	    		</div>
	    	</div>
	    </div>
    </div>
  </div>
</section>
<script type="text/javascript">
	$(document).on("focus", ".datepicker", function(){
		$(this).datepicker({
			todayHighlight:'TRUE',
			startDate: '-0d',
			endDate: '+2m',
			format: 'dd-mm-yyyy',
			autoclose: true
		});
	});
	$(document).on("change", "#permission_request_to_time", function(){
		calculateDiff();

		function calculateDiff(){
			_start = $('#permission_request_from_time').val();
			_end = $('#permission_request_to_time').val();

			_start_time = parseAMDate(_start);
			_end_time = parseAMDate(_end);

			if (_end_time < _start_time){
				_end_time = parseAMDate(_end,1);
			}

			var difference= _end_time - _start_time;

			var hours = Math.floor(difference / 36e5),
			minutes = Math.floor(difference % 36e5 / 60000);
			if (parseInt(hours) >= 0 ){
				if (minutes == 0){
					minutes = "00";
				}
				duration = hours+":"+minutes;
				if (duration < '2:00') {
					$('#permission_request_no_of_hours').val(hours+":"+minutes);
				}
				else{
					alert('Permission Hours should be 2 hours or less than 2 hours!');
					$('#permission_request_no_of_hours').val('');
					$('#permission_request_to_time').val('');
				}
			}
		}

		function parseAMDate(input, next_day) {

			var dateReg = /(\d{1,2}):(\d{2})\s*(am|pm)/;

			var hour, minute, result = dateReg.exec(input);

			if (result) {
				hour = +result[1];
				minute = +result[2];

				if (result[3] === 'pm' && hour !== 12) {
					hour += 12;
				}
			}
			if (!next_day) {
				return new Date(1970, 01, 01, hour, minute).getTime();
			}else{
				return new Date(1970, 01, 02, hour, minute).getTime();
			}
		}
	});
</script>