<div class="modal-dialog modal-lg">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Employee Employment Details</h4>
    </div>
    <div class="modal-body">
      <div class="emp_employment_details_<%= employee.id %>">
          <%= render partial: 'employee_employment_details/form', locals: {employee_employment_details: employee.employee_employment_details, employee_employment_detail: EmployeeEmploymentDetail.new, employee: employee } %>
      </div>
    </div>
  </div>
</div>
