<div id="letter_bad">
  <h2 align="center">Users List</h2>
  <%#= wicked_pdf_image_tag('letterhead-itbeezone.jpg',style:"width:180px;") %>
  <% if @deactived_employees.present?%>
  <table class="table">
    <thead>
      <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <% @deactived_employees.each do |emp| %>
      <tr>
        <td><%= emp.try(:first_name) %></td>
        <td><%= emp.try(:last_name) %></td>
        <td><%= emp.try(:email) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% else %>
    <p align="center">No clients</p>
  <% end %>
</div>