<table class="table">
	<thead>
    <tr>
			<th>#</th>
			<th>Email</th>
			<th>Name</th>
    </tr>
	</thead>
	<tbody>
		<% @clients.each.with_index(1) do |client,index| %>
      <tr>
        <td><%= index %></td>
        <td><%= client.try(:email) %></td>
        <td><%= client.name? %></td>
      </tr>
    <%end%>
	</tbody>
</table>