<section class="content-header">
  <h1>
    Project
    <small>List</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
    <li class="active">Here</li>
  </ol>
</section>
<section class="content client_project_list">
	<%= render "project_list" %>
</section>