<section class="content-header">
  <h1>
    Project
    <small><%= @project.try(:name) %></small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
    <li class="active">Here</li>
  </ol>
</section>
<section class="content">
  <p>
  	<%= link_to "Back", projects_path, class: "btn btn-default" %>
  </p>
  <p>Task list</p>
</section>