
<div class="modal-dialog modal-lg">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Update Emergency Contact Details</h4>
    </div>
    <div class="modal-body">
      <div class="emp_emergency_contact_<%= employee.id %>">
        <%= render partial: 'employee_emergency_contact_details/form', locals: {employee_contact_detail: EmployeeEmergencyContactDetail.new, employee_contact_details:  employee.employee_emergency_contact_details, employee: employee } %>
      </div>
    </div>
  </div>
</div>


