<div class="content my-computation">
  <%= render partial: "conputation", locals: {date: @date, next_year: @next_year, previous_month: @previous_month, next_month: @next_month, employee_monthly_ctc: @employee_monthly_ctc} %>
</div>