<div id="letter_bad_new">
  <h1 align="center">Experience Certificate</h1>
  <div class="exp-cert-div">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <td >: <%= @employee.full_name %></td>
        </tr>
        <tr>
          <th>Employee ID</th>
          <td>: <%= @employee.employee_id %></td>
        </tr>
        <tr>
          <th>Date of Joining</th>
          <td>: <%= @employee.employee_id %> June 23, 2014</td>
        </tr>
        <tr>
          <th>Period of Service</th>
          <td>: June 23, 2014 to October 31, 2014</td>
        </tr>
        <tr>
          <th>Designation</th>
          <td>: Software Engineer</td>
        </tr>
        <tr>
          <th>Last Salary Drawn – Gross</th>
          <td>: Rs.33988/- per month</td>
        </tr>
        <tr>
          <th>Variable Pay</th>
          <td>: Rs.22500/- per annum</td>
        </tr>
        <tr>
          <th>Annual CTC</th>
          <td>: Rs.450000/- per annum</td>
        </tr>
        <tr>
          <th>Reason for Leaving</th>
          <td>: Resigned</td>
        </tr>
      </thead>
    </table>
  </div>
  <div class="exp-cert-footer">
    <p>For ItBeeZone Business Solutions,</p>
    <p>Gopinath M,</p>
    <p>Vice President - Delivery</p>
  </div>
</div>