<div class="col-md-12">
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Expand All</a></li>
		<li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Collapse All</a></li>
	</ul>
</div>
<div class="col-md-12">
	<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
      <table class="table table-border dzs_table ">
      	<tbody>
      		<tr>
      			<td class="with-tr-td-date">Fri Apr 21</td>
      			<td class="width-tr-td-icon"><i class="fa fa-reply fa-replay-click" aria-hidden="true"></i></td>
      			<td class="width-tr-td-time"><span class="time-click">9:15am – 9:45am	</span></td>
      			<td class="widht-tr-td-mess">
      			  <p>Daily Scrum - Meeting </p>
      			  <table class="description-message-table-hide">
      			  	<tr>
      			  		<td class="left-point-tr-td">Where</td>
      			  		<td> <a href="#">Offcie Map</a></td>
      			  	</tr>
      			  	<tr>
      			  		<td class="left-point-tr-td">Video call</td>
      			  		<td> <span><i class="fa fa-video-camera" aria-hidden="true"></i></span><a href="#">Join meeting: daily-scrum</a></span></td>
      			  	</tr>
      			  	<tr>
      			  		<td class="left-point-tr-td">Calendar</td>
      			  		<td>ITBEEZONE BUSINESS SOLUTIONS</td>
      			  	</tr>
      			  	<tr>
      			  		<td class="left-point-tr-td">Who</td>
      			  		<td>
      			  			 <ul class="list-inline">
      			  			 	  <li>ITBEEZONE,</li>
      			  			 	  <li>pradeep,</li>
      			  			 	  <li>karthick, </li>
      			  			 	  <li>prabhakaran,</li>
      			  			 	  <li>periyasamyxxxxx</li>
      			  			 </ul>
      			  		</td>
      			  	</tr>
      			  	<tr>
      			  		<td class="left-point-tr-td">Color</td>
      			  		<td>
      			  			<div class="btn-group" data-toggle="buttons">
                      <ul class="list-inline color-box">
                        <li>
                          <label class="btn btn-success active">
                            <input type="radio" name="options" id="option2" autocomplete="off">
                            <span class="glyphicon glyphicon-ok"></span>
                          </label>
                        </li>
                        <li>
                         <label class="btn btn-success active">
                            <input type="radio" name="options" id="option2" autocomplete="off">
                            <span class="glyphicon glyphicon-ok"></span>
                          </label>
                        </li>
                        <li>
                          <label class="btn btn-success active">
                            <input type="radio" name="options" id="option2" autocomplete="off">
                            <span class="glyphicon glyphicon-ok"></span>
                          </label>
                        </li>
                        <li>
                          <label class="btn btn-primary">
                            <input type="radio" name="options" id="option1" autocomplete="off">
                            <span class="glyphicon glyphicon-ok"></span>
                          </label>
                        </li>
                        <li>
                          <label class="btn btn-info">
                            <input type="radio" name="options" id="option2" autocomplete="off">
                            <span class="glyphicon glyphicon-ok"></span>
                          </label>
                        </li>
                        <li>
                          <label class="btn btn-default">
                            <input type="radio" name="options" id="option2" autocomplete="off">
                            <span class="glyphicon glyphicon-ok"></span>
                          </label>
                        </li>
                        <li>
                          <label class="btn btn-warning">
                            <input type="radio" name="options" id="option2" autocomplete="off">
                            <span class="glyphicon glyphicon-ok"></span>
                          </label>
                        </li>
                        <li>

                          <label class="btn btn-danger">
                            <input type="radio" name="options" id="option2" autocomplete="off">
                            <span class="glyphicon glyphicon-ok"></span>
                          </label>
                          
                        </li>
                      </ul>
                    </div>
      			  		</td>
      			  	</tr>
      			  	<tr>
      			  		<td class="left-point-tr-td">Going?</td>
      			  		<td>
      			  			 <ul class="list-inline">
      			  			 	  <li>Yes</li>
      			  			 	  <li>Maybe</li>
      			  			 	  <li>No</li>
      			  			 </ul>
      			  		</td>
      			  	</tr>
      			  </table>
      			</td>
      		</tr>
      		<tr>
      			<td class="with-tr-td-date">Fri Apr 21</td>
      			<td class="width-tr-td-icon"><i class="fa fa-reply fa-replay-click" aria-hidden="true"></i></td>
      			<td class="width-tr-td-time"><span class="time-click">9:15am – 9:45am	</span></td>
      			<td class="widht-tr-td-mess">
      			  <p>Daily Scrum - Meeting </p>
      			  <table class="description-message-table-hide">
      			  	<tr>
      			  		<td class="left-point-tr-td">Where</td>
      			  		<td> <a href="#">Offcie Map</a></td>
      			  	</tr>
      			  	<tr>
      			  		<td class="left-point-tr-td">Video call</td>
      			  		<td> <span><i class="fa fa-video-camera" aria-hidden="true"></i></span><a href="#">Join meeting: daily-scrum</a></span></td>
      			  	</tr>
      			  	<tr>
      			  		<td class="left-point-tr-td">Calendar</td>
      			  		<td>ITBEEZONE BUSINESS SOLUTIONS</td>
      			  	</tr>
      			  	<tr>
      			  		<td class="left-point-tr-td">Who</td>
      			  		<td>
      			  			 <ul class="list-inline">
      			  			 	  <li>ITBEEZONE,</li>
      			  			 	  <li>pradeep,</li>
      			  			 	  <li>karthick, </li>
      			  			 	  <li>prabhakaran,</li>
      			  			 	  <li>periyasamyxxxxx</li>
      			  			 </ul>
      			  		</td>
      			  	</tr>
      			  	<tr>
      			  		<td class="left-point-tr-td">Color</td>
      			  		<td>
      			  			<div class="btn-group" data-toggle="buttons">
                      <ul class="list-inline color-box">
                        <li>
                          <label class="btn btn-success active">
                            <input type="radio" name="options" id="option2" autocomplete="off">
                            <span class="glyphicon glyphicon-ok"></span>
                          </label>
                        </li>
                        <li>
                         <label class="btn btn-success active">
                            <input type="radio" name="options" id="option2" autocomplete="off">
                            <span class="glyphicon glyphicon-ok"></span>
                          </label>
                        </li>
                        <li>
                          <label class="btn btn-success active">
                            <input type="radio" name="options" id="option2" autocomplete="off">
                            <span class="glyphicon glyphicon-ok"></span>
                          </label>
                        </li>
                        <li>
                          <label class="btn btn-primary">
                            <input type="radio" name="options" id="option1" autocomplete="off">
                            <span class="glyphicon glyphicon-ok"></span>
                          </label>
                        </li>
                        <li>
                          <label class="btn btn-info">
                            <input type="radio" name="options" id="option2" autocomplete="off">
                            <span class="glyphicon glyphicon-ok"></span>
                          </label>
                        </li>
                        <li>
                          <label class="btn btn-default">
                            <input type="radio" name="options" id="option2" autocomplete="off">
                            <span class="glyphicon glyphicon-ok"></span>
                          </label>
                        </li>
                        <li>
                          <label class="btn btn-warning">
                            <input type="radio" name="options" id="option2" autocomplete="off">
                            <span class="glyphicon glyphicon-ok"></span>
                          </label>
                        </li>
                        <li>

                          <label class="btn btn-danger">
                            <input type="radio" name="options" id="option2" autocomplete="off">
                            <span class="glyphicon glyphicon-ok"></span>
                          </label>
                          
                        </li>
                      </ul>
                    </div>
      			  		</td>
      			  	</tr>
      			  	<tr>
      			  		<td class="left-point-tr-td">Going?</td>
      			  		<td>
      			  			 <ul class="list-inline">
      			  			 	  <li>Yes</li>
      			  			 	  <li>Maybe</li>
      			  			 	  <li>No</li>
      			  			 </ul>
      			  		</td>
      			  	</tr>
      			  </table>
      			</td>
      		</tr>

      	</tbody>
      </table>
    </div>
    <div role="tabpanel" class="tab-pane" id="profile">
    	<table class="table table-border dzs_table ">
      	<tbody>
      		<tr>
      			<td class="with-tr-td-date">Fri Apr 21</td>
      			<td class="width-tr-td-icon"><i class="fa fa-reply fa-replay-click" aria-hidden="true"></i></td>
      			<td class="width-tr-td-time"><span class="time-click">9:15am – 9:45am	</span></td>
      			<td class="widht-tr-td-mess">
      			  <p>Daily Scrum - Meeting </p>
      			  <table class="description-message-table">
      			  	<tr>
      			  		<td class="left-point-tr-td">Where</td>
      			  		<td> <a href="#">Offcie Map</a></td>
      			  	</tr>
      			  	<tr>
      			  		<td class="left-point-tr-td">Video call</td>
      			  		<td> <span><i class="fa fa-video-camera" aria-hidden="true"></i></span><a href="#">Join meeting: daily-scrum</a></span></td>
      			  	</tr>
      			  	<tr>
      			  		<td class="left-point-tr-td">Calendar</td>
      			  		<td>ITBEEZONE BUSINESS SOLUTIONS</td>
      			  	</tr>
      			  	<tr>
      			  		<td class="left-point-tr-td">Who</td>
      			  		<td>
      			  			 <ul class="list-inline">
      			  			 	  <li>ITBEEZONE,</li>
      			  			 	  <li>pradeep,</li>
      			  			 	  <li>karthick, </li>
      			  			 	  <li>prabhakaran,</li>
      			  			 	  <li>periyasamyxxxxx</li>
      			  			 </ul>
      			  		</td>
      			  	</tr>
      			  	<tr>
      			  		<td class="left-point-tr-td">Color</td>
      			  		<td>
      			  			<div class="btn-group" data-toggle="buttons">
                      <ul class="list-inline color-box">
                        <li>
                          <label class="btn btn-success active">
                            <input type="radio" name="options" id="option2" autocomplete="off">
                            <span class="glyphicon glyphicon-ok"></span>
                          </label>
                        </li>
                        <li>
                         <label class="btn btn-success active">
                            <input type="radio" name="options" id="option2" autocomplete="off">
                            <span class="glyphicon glyphicon-ok"></span>
                          </label>
                        </li>
                        <li>
                          <label class="btn btn-success active">
                            <input type="radio" name="options" id="option2" autocomplete="off">
                            <span class="glyphicon glyphicon-ok"></span>
                          </label>
                        </li>
                        <li>
                          <label class="btn btn-primary">
                            <input type="radio" name="options" id="option1" autocomplete="off">
                            <span class="glyphicon glyphicon-ok"></span>
                          </label>
                        </li>
                        <li>
                          <label class="btn btn-info">
                            <input type="radio" name="options" id="option2" autocomplete="off">
                            <span class="glyphicon glyphicon-ok"></span>
                          </label>
                        </li>
                        <li>
                          <label class="btn btn-default">
                            <input type="radio" name="options" id="option2" autocomplete="off">
                            <span class="glyphicon glyphicon-ok"></span>
                          </label>
                        </li>
                        <li>
                          <label class="btn btn-warning">
                            <input type="radio" name="options" id="option2" autocomplete="off">
                            <span class="glyphicon glyphicon-ok"></span>
                          </label>
                        </li>
                        <li>

                          <label class="btn btn-danger">
                            <input type="radio" name="options" id="option2" autocomplete="off">
                            <span class="glyphicon glyphicon-ok"></span>
                          </label>
                          
                        </li>
                      </ul>
                    </div>
      			  		</td>
      			  	</tr>
      			  	<tr>
      			  		<td class="left-point-tr-td">Going?</td>
      			  		<td>
      			  			 <ul class="list-inline">
      			  			 	  <li>Yes</li>
      			  			 	  <li>Maybe</li>
      			  			 	  <li>No</li>
      			  			 </ul>
      			  		</td>
      			  	</tr>
      			  </table>
      			</td>
      		</tr>
      		<tr>
      			<td class="with-tr-td-date">Fri Apr 21</td>
      			<td class="width-tr-td-icon"><i class="fa fa-reply fa-replay-click" aria-hidden="true"></i></td>
      			<td class="width-tr-td-time"><span class="time-click">9:15am – 9:45am	</span></td>
      			<td class="widht-tr-td-mess">
      			  <p>Daily Scrum - Meeting </p>
      			  <table class="description-message-table">
      			  	<tr>
      			  		<td class="left-point-tr-td">Where</td>
      			  		<td> <a href="#">Offcie Map</a></td>
      			  	</tr>
      			  	<tr>
      			  		<td class="left-point-tr-td">Video call</td>
      			  		<td> <span><i class="fa fa-video-camera" aria-hidden="true"></i></span><a href="#">Join meeting: daily-scrum</a></span></td>
      			  	</tr>
      			  	<tr>
      			  		<td class="left-point-tr-td">Calendar</td>
      			  		<td>ITBEEZONE BUSINESS SOLUTIONS</td>
      			  	</tr>
      			  	<tr>
      			  		<td class="left-point-tr-td">Who</td>
      			  		<td>
      			  			 <ul class="list-inline">
      			  			 	  <li>ITBEEZONE,</li>
      			  			 	  <li>pradeep,</li>
      			  			 	  <li>karthick, </li>
      			  			 	  <li>prabhakaran,</li>
      			  			 	  <li>periyasamyxxxxx</li>
      			  			 </ul>
      			  		</td>
      			  	</tr>
      			  	<tr>
      			  		<td class="left-point-tr-td">Color</td>
      			  		<td>
      			  			<div class="btn-group" data-toggle="buttons">
                      <ul class="list-inline color-box">
                        <li>
                          <label class="btn btn-success active">
                            <input type="radio" name="options" id="option2" autocomplete="off">
                            <span class="glyphicon glyphicon-ok"></span>
                          </label>
                        </li>
                        <li>
                         <label class="btn btn-success active">
                            <input type="radio" name="options" id="option2" autocomplete="off">
                            <span class="glyphicon glyphicon-ok"></span>
                          </label>
                        </li>
                        <li>
                          <label class="btn btn-success active">
                            <input type="radio" name="options" id="option2" autocomplete="off">
                            <span class="glyphicon glyphicon-ok"></span>
                          </label>
                        </li>
                        <li>
                          <label class="btn btn-primary">
                            <input type="radio" name="options" id="option1" autocomplete="off">
                            <span class="glyphicon glyphicon-ok"></span>
                          </label>
                        </li>
                        <li>
                          <label class="btn btn-info">
                            <input type="radio" name="options" id="option2" autocomplete="off">
                            <span class="glyphicon glyphicon-ok"></span>
                          </label>
                        </li>
                        <li>
                          <label class="btn btn-default">
                            <input type="radio" name="options" id="option2" autocomplete="off">
                            <span class="glyphicon glyphicon-ok"></span>
                          </label>
                        </li>
                        <li>
                          <label class="btn btn-warning">
                            <input type="radio" name="options" id="option2" autocomplete="off">
                            <span class="glyphicon glyphicon-ok"></span>
                          </label>
                        </li>
                        <li>

                          <label class="btn btn-danger">
                            <input type="radio" name="options" id="option2" autocomplete="off">
                            <span class="glyphicon glyphicon-ok"></span>
                          </label>
                          
                        </li>
                      </ul>
                    </div>
      			  		</td>
      			  	</tr>
      			  	<tr>
      			  		<td class="left-point-tr-td">Going?</td>
      			  		<td>
      			  			 <ul class="list-inline">
      			  			 	  <li>Yes</li>
      			  			 	  <li>Maybe</li>
      			  			 	  <li>No</li>
      			  			 </ul>
      			  		</td>
      			  	</tr>
      			  </table>
      			</td>
      		</tr>

      	</tbody>
      </table>
    </div>
  </div>
</div>

<script type="text/javascript">
	$(document).ready( function(){
	  $(".fa-replay-click,.time-click").click(function(){
	    $(".description-message-table").toggle();
	  });
	});
	$(document).ready( function(){
	  $(".fa-replay-click,.time-click").click(function(){
	    $(".description-message-table-hide").toggle();
	  });
	});
</script>