<table class="table table-bordered table-color-meeting">
  <thead>
      <tr>
        <th colspan="7"><p class="align-center">Thursdat 4/20 </p></th>
      </tr>
      <tr>
        <th class="with-tr-td">GMT+05:30</th>
        <th></th>
      </tr>
   </thead>
   <tbody>
      <tr>
        <td>8 am</td>
        <td></td>
      </tr>
      <tr>
        <td>8 am</td>
        <td></td>
      </tr>
      <tr>
        <td>8 am</td>
        <td></td>
      </tr>
      <tr>
        <td>8 am</td>
        <td></td>
      </tr>
      <tr>
        <td>8 am</td>
        <td></td>
      </tr>
      <tr>
        <td>8 am</td>
        <td></td>
      </tr>
      <tr>
        <td>8 am</td>
        <td></td>
      </tr>
      <tr>
        <td>8 am</td>
        <td></td>
      </tr>
      <tr>
        <td>8 am</td>
        <td></td>
      </tr>
      <tr>
        <td>8 am</td>
        <td></td>
      </tr>
      <tr>
        <td>8 am</td>
        <td></td>
      </tr>
      <tr>
        <td>8 am</td>
        <td></td>
      </tr>
    </tbody>
</table>