
<table class="table table-bordered table-color-meeting">
  <thead>
    <tr>
      <th></th>
      <th><p class="align-center">mon 4/17 </p></th>
      <th><p class="align-center">Thur 4/18</p></th>
      <th><p class="align-center">wed 4/19 </p></th>
      <th><p class="align-center">thu 4/20 </p></th>
    </tr>
   </thead>
   <tbody>
      <tr>
      	<td class="with-tr-td">GMT+05:30</td>
      	<td></td>
      	<td></td>
      	<td></td>
      	<td></td>
      </tr>
      <tr>
      	<td> 10 am</td>
      	<td></td>
      	<td></td>
      	<td></td>
      	<td></td>
      </tr>
      <tr>
      	<td>12 am</td>
      	<td></td>
      	<td></td>
      	<td></td>
      	<td></td>
      </tr>
      <tr>
      	<td>18 pm</td>
      	<td></td>
      	<td></td>
      	<td></td>
      	<td></td>
      </tr>
      <tr>
      	<td> 10 am</td>
      	<td></td>
      	<td></td>
      	<td></td>
      	<td></td>
      </tr>
      <tr>
      	<td>12 am</td>
      	<td></td>
      	<td></td>
      	<td></td>
      	<td></td>
      </tr>
      <tr>
      	<td>18 pm</td>
      	<td></td>
      	<td></td>
      	<td></td>
      	<td></td>
      </tr>
      <tr>
      	<td> 10 am</td>
      	<td></td>
      	<td></td>
      	<td></td>
      	<td></td>
      </tr>
      <tr>
      	<td>12 am</td>
      	<td></td>
      	<td></td>
      	<td></td>
      	<td></td>
      </tr>
      <tr>
      	<td>18 pm</td>
      	<td></td>
      	<td></td>
      	<td></td>
      	<td></td>
      </tr>
      <tr>
      	<td> 10 am</td>
      	<td></td>
      	<td></td>
      	<td></td>
      	<td></td>
      </tr>
      <tr>
      	<td>12 am</td>
      	<td></td>
      	<td></td>
      	<td></td>
      	<td></td>
      </tr>
      
    </tbody>
</table>