<div class="x_panel">
  <input type="hidden" name="date" id="select-month" value="<%=@sel_date.end_of_month%>" >
 <table class="table table-bordered dzs_table" style="border:0px;">
    <tr class="noBorder">
      <th>Mo</th>
      <th>Tu</th>
      <th>We</th>
      <th>Th</th>
      <th>Fr</th>
      <th>Sa</th>
      <th>Su</th>
    </tr>

    <% (1..5).each do |n| %>
    <tr>
      <% (1..7).each do |n| %>
      <td class="<%= 'dzs_today' if @dbeg.today? %>" data-date="<%= @dbeg %>" style="width:90px;height:50px;">
        <div class="pull-left table-date">
          <%= @dbeg.day %>
        </div><br>
      </td>
      <% @dbeg += 1 %>
      <% end %>
    </tr>
    <% end %>
  </table>
</div>