<table class="table table-bordered table-color-meeting">
  <thead>
    <tr>
      <th></th>
      <th>sun 4/16</th>
      <th>Mon 4/17</th>
      <th>Tue 4/18 </th>
      <th>wed 4/19</th>
      <th>thu 4/20</th>
      <th>Fri 4/21</th>
      <th>sat 4/22</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>all day</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>
        <p>12am</p>
         <hr>
        <p></p>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>
        <p>1am</p>
         <hr>
        <p></p>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>
        <p>1am</p>
         <hr>
        <p></p>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>
        <p>1am</p>
         <hr>
        <p></p>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>
        <p>1am</p>
         <hr>
        <p></p>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>
        <p>1am</p>
         <hr>
        <p></p>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>
        <p>1am</p>
         <hr>
        <p></p>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>
        <p>1am</p>
         <hr>
        <p></p>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>