<section class="content">
	<div class="panel">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-4 content-header">
					<h1>Projects</h1><br />
				</div>
				<div class="col-md-4 content-header">
				</div>
				<div class="col-md-3 content-header">
					<div class="top-links new-top">
						<%#= link_to 'xls', project_list_path(format: "xls") %>
						<%#= link_to 'csv', project_list_path(format: "csv") %>
						<%#= link_to 'pdf', project_list_path(format: :pdf) %>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-6">
				<div class="project_list">
					<%= render partial: 'project_list', locals: {project: @project_list}%>
				</div>
			</div>
			<div class="col-md-6">
				<div class="project_list">
					<%= render partial: 'project_history', locals: {project: @project_list}%>
				</div>
			</div>
		</div>
	</div>
</section>