<% if @task.errors.present? %>
	$(".errors").text("");
  <% @task.errors.full_messages.each do |error| %>
    $(".errors").append("<li><%= error %></li>");
  <% end %>
<%else%>
	$('.client_project_list').html("<%= escape_javascript(render 'project_listings/task_management') %>");
<%end%>