  <div class="container">
    <div class="panel">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-4 content-header">
              <h1>Active Listing</h1><br />
               <p>Displaying User 1-5 ... 9 total</p>
            </div>
            <div class="col-md-4 content-header">
              <input class="form-control input-sm search-box" placeholder="search here.." type="search">
            </div>
            <div class="col-md-4 content-header">
              <div class="top-links new-top">
                <a href="">xls</a>
                <a href="">csv</a>
                <a href="">pdf</a>
              </div>
            </div>
            <div class="header-border"></div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Emb.id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Action</th>
                <th class="col-md-2"><a href=""><span><i class="fa fa-plus-circle"></i></span></a></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>John</td>
                <td>Doe</td>
                <td>john@example.com</td>
                <td class="action-link"><a href="#"><i class="fa fa-user-circle-o"></i></a><a href="#"><i class="fa fa-edit"></i></a><a href="#"><i class="fa fa-times"></i></a><button class="active-btn">Deactive</button></td>
              </tr>
              <tr>
                <td>2</td>
                <td>Mary</td>
                <td>Moe</td>
                <td>mary@example.com</td>
                <td class="action-link"><a href="#"><i class="fa fa-user-circle-o"></i></a><a href="#"><i class="fa fa-edit"></i></a><a href="#"><i class="fa fa-times"></i></a><button class="active-btn">Deactive</button></td>
              </tr>
              <tr>
                <td>3</td>
                <td>July</td>
                <td>Dooley</td>
                <td>july@example.com</td>
                <td class="action-link"><a href="#"><i class="fa fa-user-circle-o"></i></a><a href="#"><i class="fa fa-edit"></i></a><a href="#"><i class="fa fa-times"></i></a><button class="active-btn">Deactive</button></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="pagination-content">
          <ul class="pagination">
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
<!--  <section class="content">
</section> -->