<div class="col-sm-12 col-md-12">
  <div class="wel">
    <div class="right_col" role="main">
      <div class="row tile_count">
        <div class="col-md-12">
          <%#= render partial: "user_lists", locals: {employees: @employees} %>
        </div>
      </div>
    </div>
  </div>
</div>
  